<h3>Book Info:</h3>
<ul>
    <li>ID: <span>{{book.id}}</span></li>
    <li>Title: <span>{{book.title}}</span></li>
    <li>Author: <span>{{book.author}}</span></li>
    <li>Genre: <span>{{book.genre}}</span></li>
</ul>
<a href="/">
    <button type="button">Back to list</button>
</a>